@page
@model RentMyCycler.Website.Pages.SignUp.SignUp

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/SignUpCss.css" />
    <style>
            button:disabled {
                background-color: grey !important;
                    border-color: grey !important;
                    cursor: not-allowed !important;
            }
        </style>
</head>
<body>
<div class="text-center">
    <h1 class="display-4">RentMyCycler</h1>
    <a class="lead">Pedal towards adventure!</a>
</div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <h2>Personal Information</h2>
            <div class="form-group">
                <label for="Username">Username:</label>
                <input id="Username" class="form-control" type="text" asp-for="UserDto.Username" required />
            </div>
            <div class="form-group">
                <label for="Address">Address:</label>
                <input id="Address" class="form-control" type="text" asp-for="UserDto.Adress" required />
            </div>
            <div class="form-group">
                <label for="Birthdate">BirthDate:</label>
                <input id="Birthdate" class="form-control" type="date" asp-for="UserDto.Birthdate" required />
            </div>
            <div class="form-group">
                <label for="CyclingPreferences">Cycling preferences:</label>
                <select id="CyclingPreferences" name="CyclingPreferences" class="form-control" asp-for="UserDto.Cycling_preferences" required>
                    <option value="">Select a option</option>
                    @foreach (var category in Model.BikeCategories)
                    {
                        <option value="@category.Bike_type">@category.Bike_type</option>
                    }
                </select>
            </div>
            <br/>
            <h2>Credentials</h2>
            <div class="form-group">
                <label for="Email">E-mail address:</label>
                <input id="Email" class="form-control" type="email" asp-for="UserDto.Email" required />
            </div>
            <div class="form-group">
                <label for="Password">Password:</label>
                <input id="Password" class="form-control" type="password" asp-for="UserDto.Password" required />
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password:</label>
                <input id="ConfirmPassword" class="form-control" type="password" asp-for="UserDto.Password" required />
                <span asp-validation-for="UserDto.Password" class="text-danger"></span>
            </div>
            
            <button id="signUpButton" type="submit" class="btn btn-primary" disabled>Sign Up</button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const password = document.getElementById('Password');
            const confirmPassword = document.getElementById('ConfirmPassword');
            const signUpButton = document.getElementById('signUpButton');

            function validatePasswords() {
                if (password.value === confirmPassword.value && password.value !== '') {
                    signUpButton.disabled = false;
                    
                } else {
                    signUpButton.disabled = true;
                }
            }

            password.addEventListener('input', validatePasswords);
            confirmPassword.addEventListener('input', validatePasswords);
        });
    </script>
}
</body>
</html>
