html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.bikes {
    text-align: center;
    padding: 50px 20px;
}

.card-container-bike {
    display: flex;
    flex-direction: row; /* Alinear las tarjetas en filas */
    flex-wrap: wrap; /* Envolverá automáticamente las tarjetas a la siguiente fila */
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.card-bike {
    flex: 1 1 250px; /* Establecer un ancho máximo para las tarjetas */
    max-width: 250px; /* Ancho máximo */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.3s ease-in-out;
}

.card-bike:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image-bike {
    width: 250px;
    padding: 10px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
}

.card-image-bike img {
    width: 100%;
    padding: 10px;
    height: auto;
    display: block;
}

.card-content-bike {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

.myProfile{
    color: white;
    text-decoration: none;
    position: absolute;
    right: 20px;
}

.navbar {
    background-color: #ff6600;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    font-weight: bold !important;
}